{% extends 'base.html' %}

{% block content %}
<!-- Content main -->
<div id="content">
    <!-- Subscription Section -->
    <section id="subscription" class="bg-light-gray">
        <div class="container">
            <h2 class="section-heading">Obrigada por se inscrever!</h2>
            <p>Estes foram os dados que você nos forneceu em sua inscrição:</p>

            <ul>
                <li>Nome: {{ subscription.name }}</li>
                <li>CPF: {{ subscription.cpf }}</li>
                <li>Email: {{ subscription.email }}</li>
                <li>Telefone: {{ subscription.phone }}</li>
            </ul>

            <p>Em até 48 horas úteis, a nossa equipe entrará em contato com você para concluirmos a sua matrícula.</p>
        </div>
    </section>
</div>
{% endblock content %}