{% extends 'base.html' %}

{% block title %}500. Erro interno inesperado{% endblock title %}

{% block content %}
<div id="content">
    <!-- 500 Section -->
    <section class="bg-light-gray">
        <div class="container">
            <div class="col-md-8">
                <h1>500</h1>
                <h2 class="section-heading">Erro interno inesperado</h2>
            </div>
            <div class="col-md-8">
                <p>Desculpe. Ocorreu um erro inesperado.</p>
                <p>Nossa equipe já foi notificada do problema.<br />
                   Caso necessário entre em contato com <a href="mailto:suporte@eventex.com.br?subject=500 Erro interno inesperado">suporte@eventex.com.br</a></p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}