{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Eventex - O maior encontro hacker do mundo!">
    <meta name="author" content="Manaia Junior">

    <title>Eventex - O maior encontro hacker do mundo!</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/devicon/devicon.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top" class="index">

    {% include 'nav.html' only %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bem-vindo ao</div>
                <div class="intro-heading">Eventex!</div>
                <a href="#overview" class="page-scroll btn btn-xl">Saiba mais</a>
            </div>
        </div>
    </header>

    <!-- Overview Section -->
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Conferência</h2>
                    <h3 class="section-subheading text-muted">A maior reunião de hackers do mundo.<br>Reunindo profissionais e entusiastas dos quatro <br>cantos do planeta, o <em>Eventex</em> é o lugar onde você precisa estar.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Github</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Palestrantes Convidados</h2>
                </div>
            </div>
            <div class="speakers row text-center">
                {% for speaker in speakers %}
                <div class="col-lg-6">
                    <img src="{{ speaker.photo }}"/>
                    <h4>
                        <a href="{{ speaker.get_absolute_url }}">   {{ speaker.name }}
                        </a>
                    </h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Sponsors Section -->
    <section id="sponsors" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Patrocinadores</h2>
                </div>
            </div>
            <h3 class="section-heading text-center gold">Gold</h3>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-gold-01.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-gold-02.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-gold-03.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
            </div>
            <h3 class="section-heading text-center silver">Silver</h3>
            <div class="row">
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-silver-01.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-silver-02.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-silver-03.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-silver-04.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-silver-05.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="{% static 'img/sponsor-silver-06.png' %}" class="img-responsive img-circle" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-heading text-center">Seja um patrocinador</h3>
                    <p class="large text-muted">Interessado? Descubra as oportunidades e benefícios.</p>
                    <button type="submit" class="btn btn-xl">Informe-se</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Register Section -->
    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading white">Inscrição</h2>
                    <h3 class="section-heading text-muted white">Inscrições abertas!</h3><br/>
                    <a href="{% url 'subscriptions:new' %}" class="btn btn-xl">Inscreva-se já!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/envato.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/designmodo.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/themeforest.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="{% static 'img/logos/creative-market.jpg' %}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Venue Section -->
    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 local">
                    <h2 class="section-heading">Bar Samba Caffé</h2>
                    <h3 class="section-subheading text-muted white">Melhor que qualquer centro de convenções.<br/><br/><i class="fa fa-map-marker fa-2x fa-inverse"></i> Rua do Ouvidor 23, Centro<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rio de Janeiro, RJ</h3>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Eventex 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/agency.js' %}"></script>

</body>

</html>
